// Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");
// @import "vue-select/src/scss/vue-select.scss";
@import "https://use.fontawesome.com/releases/v5.15.4/css/all.css";

// Variables
@import "variables";

@import "player";
@import "form";
@import "popup";
@import "loader";
@import "page-form";
@import "profile";
@import "nav";
@import "payment";
// Bootstrap
// @import "~bootstrap/scss/bootstrap";

// // @import "node_modules/foundation-sites/assets/foundation.scss";

* {
    font-family: $font-family;
    font-weight: $font-weight;
}

.nav-temp {
    position: fixed;
    top: 0;
}

/* SCROLLBAR FÜR ALLES AUSSER FIREFOX */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #e7e7e7;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* SCROLLBAR FÜR  FIREFOX */

/*-------------------------------------------------------*/
.background-image {
    background-image: url($main-bg);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.background-image > div {
    padding-left: 150px;
    // z-index: 1;
}
// .background-image > div > div {
//     // z-index: -1;
// }

.but-main {
    border-radius: 15px;
    padding: 10px 30px;
    font-size: 44px;
    font-weight: $regular;
}

.cta-main {
    background-color: $rp-purple;
    color: white;
}

.heading-feed {
    font-size: 133px;
    font-weight: $semibold;
    color: white;
    line-height: 105%;
}

.nav-link {
    font-size: 32px;
    font-weight: $regular;
    color: white;
}

form.main-search-form {
    height: 110px;
}
i.main-search-icon {
    position: absolute;
    height: inherit;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

input.search-text-input-feed {
    border-radius: 15px 0px 0px 15px;
    font-size: 34px;
    width: 730px;
    height: 110px;
    padding-left: 100px;
    border: none;
}
input.search-text-input-feed:focus {
    --tw-ring-color: 0;
    border: none;
}
input.search-text-input-nav {
    border-radius: 15px 0px 0px 15px;
    font-size: 20px;
    height: 40px;
    width: 300px;
    border: none;
}
input.search-text-input-nav:focus {
    --tw-ring-color: 0;
    border: none;
}
button.search-button-input-feed {
    background-color: $rp-purple;
    color: white;
    border-radius: 0px 15px 15px 0px;
    font-size: 34px;
    height: 110px;
    width: 180px;
}
form.nav-search-form{
    padding-top: 6.5px;
    margin-left: 2.5rem;
}
button.search-button-input-nav {
    background-color: $rp-purple;
    color: white;
    border-radius: 0px 15px 15px 0px;
    font-size: 34px;
    height: 40px;
    width: 50px;
}

button.search-button {
    background-color: red;
}
.main-feed-div {
    min-height: calc(100vh - 125px);
    margin-bottom: 100px;
}
.nav-search-div {
    height: min-content;
}

.details {
    display: none;
}
.settingsContent {
    margin-top: 110px;
}

@media all and (max-width: 1000px) {
    .details {
        display: block;
        color: white;
        font-size: 25px;
        text-align: center;
        font-weight: $semibold;
    }

    .responsive * {
        display: none;
    }

    .mobileHeader {
        padding-top: 17.5%;
        padding-left: 25%;
        padding-right: 25%;
    }
}
